header {
    width: 100%;
    height: 60px;
    background: #ffd370;
    position: fixed;
    z-index: 1000;
}

body {
    background-color: #FAFAFA;
}

#main {
    width : 90%;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    --margin : 50px;
    width : 65%;
}
#title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 120px;
}

#line {
    width: 30%;
    height: 1.5px;
    background-color: #ccc;
    margin: 40px auto 60px auto;
}

.content-hr {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 50px 0 50px;
}
#contents {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    margin-bottom : 50px;
    display: block;
    text-align: center;
    padding: 80px 0px 80px;
}
.space {
    margin: 20px 0 70px;
    font-weight: bold;
    
}
#contents h4 {
    margin-top : 15px;
    color : #ccc;
}
#contents ul {
    list-style-type: none;
    text-align : left;
    /* margin : 30px 150px; */
    margin  : 30px auto;
}
#contents li {
    width: 630px;
    margin : 10px;
}
.li-label {
	width : 150px;
	float : left;
}

.agree-area .agree-preview {
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 5px solid #FFD370;
    border-radius: 5px;
    white-space: pre-wrap;
}

input[type=text] {
	width: 175px;
	height: 20px;
	font-size: 1.1em;
    border: 1px solid #FFD370;
    border-radius: 5px;
}
input[type=button] {
    width: 80px;
    height: 26px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #FFD370;
    color: #ffffff;
}
input, progress {
    accent-color: #FFD370;
}

.content {
    display: flex;
    justify-content: center;
}
#button {
    width: 60%;
    display: flex;
    justify-content: center;
}
.btn-payment {
    border: 1px solid #FFD370;
    background-color: #FFD370;
    margin-right: 10px;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.btn-cancel {
    text-decoration: none;
    border: 3px solid #FFD370;
    background-color: #ffffff;
    color: #FFD370;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}


.h-tag {
	font-weight: bold;
}

.h2 {
	font-size: 24px;
}
.h3 {
	font-size: 20px;
}
.h4 {
	font-size: 15px;
}
