body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}
header {
	line-height: 1.5;
    width: 100%;
    height: 60px;
    background: #ffd370;
    position: fixed;
    top: 0;
    z-index: 1000;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(24, 21, 21);
}

.main {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 1150px;
    --height: 150vh;
    margin: 0 auto;
    background: #FAFAFA;
}

.contanier {
	display: flex;
	flex-direction: column;
}

/* ********** 타이틀 ********** */
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
	line-height: 1;
	padding-top: 120px;
}

#line {
    width: 46%;
    height: 1.5px;
    background-color: lightgray;
    margin: 40px auto 15px auto;
}

/* ********** 강아지 윗 영역 ********** */
#weather {
	margin: 0 auto;
}

/* ********** 지역 선택 ********** */
button {
    background: none;
    border: none;
    --padding: 0;
    --margin: 0;
    cursor: pointer;
}

.choice-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;

}

.region-selector {
    position: relative;
    display: inline-block;
}

#region {
    display: flex;
    align-items: center;
    position: relative;
    left: 45px;
    background-color: #FAFAFA;
    color: black;
    border : 2px solid #FFD370;
    border-radius: 6px;
    width: 122px;
    height: 50px;   
    padding: 10px 5px;
}

.select-button {
    background-color: #FAFAFA;
    color: #000000;
    font-size: 1.1em;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointer;
}

#select-region {
    color: #FFBF00;
    font-size: 1.1em;
    padding-left: 10px;
}

.button-item {
    padding: 5px;
    background-color: white;
}

.button-item.active {
    background-color: #FFD370; /* 클릭한 버튼 배경색 */
    color: #fff; /* 클릭한 버튼 텍스트 색상 */
}

.region-list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 400px; /* 목록의 너비를 조정하세요. */
    max-height: 300px; /* 목록의 최대 높이를 조정하세요. */
    overflow-y: auto; /* 스크롤이 필요한 경우 스크롤 표시 */
    column-count: 4; /* 4개의 열로 항목 표시 */
    column-gap: 40px; /* 열 간격 설정 */
    z-index: 500;
}

.region-list li {
    padding: 3px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-bottom: none;
    break-inside: avoid; /* 열 안에서 줄 바꿈 방지 */
}

/* 버튼 클릭 시 목록 표시 */
.region-selector:hover .region-list {
    display: block;
}

.button-item active {
    border: 1px solid black;
    color: #171717;
    background-color: #fff;
}

ul li button {
    font-size: 17px;
    line-height: 22px;
    background: #f8f8f8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
}



/* ********** 오늘의 tmi ********** */
.today-tmi {
    display: flex;
    position: relative;
    left: 45px;
    align-items: center;
    width: 100%;
    height: 100px;
}

label {
    display: flex;
    align-items: center;
}

.tmi-text {
	display: flex;
	align-items: center;
    background: #FAFAFA;
    color : black;
    width: 695px;
    height: 50px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 6px;
    --margin-right: 20px;
}

.tmi {
	position: relative;
	align-items: center;
	display: flex;
	height: 30px;
	width: 580px;
	border: none;
	background-color: #FAFAFA;
}

.free-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.free-board {
	position: relative;
/* 	left: 200px; */
    display: flex;
    align-items: center;
    color: white;
    background-color: #FFD370;
    width: 180;
    height: 50px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.free-board a {
	text-decoration: none;
}

.board-logo {
	display: flex;
	align-items: center;
    width: 35px;
    height: 35px;
    margin-left: 7px;
    margin-right: 10px;
}

.weather-area {
	display: flex;
	
}

/* ********** 오늘의 날씨 ********** */
.now-weather {
	width: 100%;
	--margin-top: 20px;
}

.today-weather-area {
	display: block;
	align-items: flex-end;
	position: relative;
	left: 46px;
    width: 350px;
    height: 180px;
    padding: 25px;
    border-radius: 6px;
    background-color: #ffd47061;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    --float: left;
}

.today-weather {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 75%;
    --background-color: rgba(255, 255, 255, 0.5);	
    border-radius: 5px;
/*     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}

.today-left {
	display: flex;
	align-items: center;
	flex: 1;
    width: 60%;
    height: 100%;
    text-align: center;
}

.today-weather-date {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 10%;
}

.tDate {
	font-family: 'GmarketSansMedium';
	font-weight: bold;
    width: 300px;
    height: 27%;
    text-align: center;
    /* border: 1px solid black; */
}

/* 날씨 아이콘 */
#weather-icon {
	position: relative;
	--bottom: 26px;
	--right: 20px;
	width: 70px;
	height: 70px;
	margin-left: 10px;
}

.today-weather-Temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    padding-right: 45px;
    font-size: 1.5em;
    font-weight: bolder;
}

.today-weather-Temperature span {
    display: block;
    justify-content: center;
    align-items: flex-start;
}

.today-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;;
	--flex: 1;
	position: relative;
	top: 11px;
    width: 40%;
    height: 80%;
    --text-align: center;
}

.today-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pro-rain {
	padding-left: 10px;
	color: blue;
}

.temp-max {
	padding-left: 10px;
	color: red;
}

.temp-min {
	margin-left: 10px;
	color: skyblue;
}

.today-precipitation {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.max-temperature {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-weight: bolder;
}

.min-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-weight: bolder;
}

.img-area {
    position: relative;
    bottom: 30px;
    right:40px;
}
.dog-img {
    /* display: flex; */
    width: 300px;
    height: 300px;
}


/* ********** 시간별 기온 ********** */
.today-time-weather {
	--display: flex;
	position: relative;
	left: 229px;
	flex: 1;
}

.time-weather {
    display: inline-block;
    grid-template-rows: auto 1fr;
    position: relative;
    right: 278px;
	overflow: auto;
    width: 500px;;
    height: 180px;
    border-radius: 6px;
    --background-color: #ffffff;
    background-color: #2f384ee3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.time-weather h2 {
	font-size: 20px;
    margin : 20px;
    color: white;
}

.time-temp {
	display: flex;
	justify-content: center;
    width: 100%;
    padding-left: 20px;
	margin: 0 auto;
}

.time-temp ul {
	display: flex;
	align-items: center;
	--margin: 0 15px;
}

.time-temp li {
	 margin-right: 20px;
}

.time {
	width: 50px;
	padding-bottom: 5px;
	font-size: 15px;
	color: white;
}

.time-icon {
	padding-bottom: 5px;
	position: relative;
    right: 10px;
}


/* ********** 일별 기온 ********** */
.day-weather {
	display: flex;
	justify-content: center;
	height: 200px;
	margin: 20px 30px;
}

.date-weather {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 900px;
    height: 200px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.date-weather h2 {
	font-size: 20px;
    margin : 20px 20px 8px 20px;
}

.date-temp {
	display: flex;
	justify-content: center;
    width: 100%;
	margin: 0 auto;
}

.date-temp ul {
	display: flex;
	align-items: center;
}

.date-temp li {
	 margin-right: 10px;
	 height: 90%;
}

.day-temp {
	width: 265px;
	border: 5px outset #ffd370;
	border-radius: 15px;
	padding: 10px;
	font-size: 15px;
}

#today {
	display: block;
	margin-bottom: 20px;
}

.today-rain {
	display: inline-block;
	margin-bottom: 20px;
	color: blue;
}

#today-temp-min {
	display: inline-block;
	color: skyblue;
}

#today-temp-max {
	display: inline-block;
	color: red;
}

#tomorrow {
	display: block;
	margin-bottom: 20px;
}

.tomorrow-rain {
	display: inline-block;
	margin-bottom: 20px;
	color: blue;
}

#tomorrow-temp-min {
	display: inline-block;
	color: skyblue;
}

#tomorrow-temp-max {
	display: inline-block;
	color: red;
}

.aft-tomorrow {
	display: inline-block;
	margin-bottom: 20px;
	color: blue;
}

#aft-tomorrow {
	display: block;
	margin-bottom: 20px;
}

#aft-tomorrow-temp-min {
	display: inline-block;
	color: skyblue;
}

#aft-tomorrow-temp-max {
	display: inline-block;
	color: red;
}

.day-text {
	color: #9d9898;
	margin-right: 3px;
}



/* ********** 움직이는 강아지 ********** */
.dog-area {
	--display: flex;
	--position: absolute;
	width: 100vw;
	height: 280px;
}

.dog {
  background: url('');
  height: 297px;
  width: 400px;
  --bottom: -15%;
  position: relative;
  animation: walk 25s linear infinite;
}

@keyframes walk {
  0%, 100% { 
    left: 0;    
    transform: translatex(-50%) scalex(1); 
  }
   49% { 
    left: 100%; 
    transform: translatex(-50%) scalex(1); 
  }
    50% { 
     left: 100%; 
     transform: translatex(-50%) scalex(-1);  
  }
     99% { 
      left: 0;   
      transform: translatex(-50%) scalex(-1);      }
}


/* tmi */
#tmiListDiv {
	display: flex;
}
