<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="AdminMapper">

	<!-- 후원내역 전체 조회 -->
	<select id="selectHistoryList" resultType="SupportHistory">
		SELECT 
			S_H_NAME,
		    H.S_NO AS S_NO,
	        S_H_AMOUNT,
	        DENSE_RANK() OVER(ORDER BY S_H_AMOUNT DESC) AS S_H_NO
		FROM 
			S_HISTORY_TBL H
		JOIN 
			SUPPORT_TBL S ON S.S_NO = H.S_NO
		ORDER BY 
			S_H_AMOUNT DESC
	</select>




</mapper>