<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="HosMapper">

	<insert id="insertHosReview">
		INSERT INTO H_REVIEW_TBL 
		VALUES(H_SEQ_NO.NEXTVAL, #{ hNo }, #{ uId }, #{ hRContent }, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertHBook">
		INSERT INTO H_BOOKMARK_TBL
		VALUES(#{ uId }, #{ hNo })
	</insert>
	
	<update id="updateHosReview">
		UPDATE H_REVIEW_TBL 
		   SET H_R_CONTENT = #{ hRContent }, H_R_UPDATE = DEFAULT 
		 WHERE H_R_NO = #{ hRNo }
	</update>
	
	<!-- Y, N을 UPDATE 하는 것으로 DELETE 기능을 대신함 -->
	<update id="deleteHosReview">
		UPDATE H_REVIEW_TBL 
		   SET H_R_UPDATE = DEFAULT, H_R_STATUS = 'N' 
		 WHERE H_R_NO = #{ hRNo } 
	</update>
	
	<update id="updateXYtoLatLng">
		UPDATE HOSPITAL_TBL 
		   SET H_LAT = #{ hLat }, H_LNG = #{ hLng } 
		 WHERE H_NO = #{ hNo }
	</update>
	
	<delete id="deleteHBook">
		DELETE FROM H_BOOKMARK_TBL
		 WHERE U_ID = #{ uId }
		   AND H_NO = #{ hNo }
	</delete>
	
	<select id="selectOneByhNo" resultType="Hospital">
		SELECT * 
		  FROM HOSPITAL_TBL
		 WHERE H_NO = #{ hNo }  
	</select>
	
	<select id="selectHBook" resultType="_int">
		SELECT COUNT(*)
		  FROM H_BOOKMARK_TBL
 		 WHERE U_ID = #{ uId }
		   AND H_NO = #{ hNo }
	</select>
	
	<select id="selectHReviewList" resultType="HReview">
		SELECT * 
	      FROM H_REVIEW_TBL 
		 WHERE H_NO = #{ hNo }
		   AND H_R_STATUS = 'Y' 
		 ORDER BY H_R_NO DESC
	</select>
	
	<select id="selectFiveHos" resultType="Hospital">
		<![CDATA[
			SELECT *
			FROM (
			    SELECT
			        H.*
			        , (6371.0 * ACOS(  
			          COS( ( #{ hLat } / 57.29577951308232087679815481410517033235 ) ) * COS( ( H_LAT / 57.29577951308232087679815481410517033235 ) )
			          * COS( ( H_LNG / 57.29577951308232087679815481410517033235 ) - ( #{ hLng } / 57.29577951308232087679815481410517033235 ) )
			          +
			          SIN( ( #{ hLat } / 57.29577951308232087679815481410517033235 ) ) * SIN( ( H_LAT / 57.29577951308232087679815481410517033235 ) )        
			         )) AS distance
			         , (SELECT HB.H_NO 
			              FROM H_BOOKMARK_TBL HB
			             WHERE HB.U_ID = #{ uId }
			               AND H.H_NO = HB.H_NO) AS hBookmark
			    FROM HOSPITAL_TBL H
			    WHERE H_STATUS = '정상'
			    AND H_X IS NOT NULL
			    ORDER BY distance
			)
			WHERE ROWNUM <= 5
		]]>
	</select>
	
	<select id="selectHosListByKeyword" resultType="Hospital">
		<![CDATA[
			SELECT *
			FROM (
			    SELECT
			        H.*
			        , (6371.0 * ACOS(  
			          COS( ( #{ hLat } / 57.29577951308232087679815481410517033235 ) ) * COS( ( H_LAT / 57.29577951308232087679815481410517033235 ) )
			          * COS( ( H_LNG / 57.29577951308232087679815481410517033235 ) - ( #{ hLng } / 57.29577951308232087679815481410517033235 ) )
			          +
			          SIN( ( #{ hLat } / 57.29577951308232087679815481410517033235 ) ) * SIN( ( H_LAT / 57.29577951308232087679815481410517033235 ) )        
			         )) AS distance
			         , (SELECT HB.H_NO 
			              FROM H_BOOKMARK_TBL HB
			             WHERE HB.U_ID = #{ uId }
			               AND H.H_NO = HB.H_NO) AS hBookmark
			    FROM HOSPITAL_TBL H
			    WHERE H_STATUS = '정상'
			    AND H_X IS NOT NULL
			    AND ( H_NAME LIKE '%' || #{ hSearchKeyword } || '%' 
			        OR H_ADDR LIKE '%' || #{ hSearchKeyword } || '%' 
			        OR H_ROAD_ADDR LIKE '%' || #{ hSearchKeyword } || '%' )
			    ORDER BY distance
			)
		]]>
	</select>
	
	<select id="selectAllList" resultType="Hospital">
		SELECT *
		  FROM HOSPITAL_TBL
	</select>
	
	<select id="getHReviewTotalCount" resultType="_int">
		SELECT COUNT(*) 
		  FROM H_REVIEW_TBL 
		 WHERE H_NO = #{ hNo } 
		   AND H_R_STATUS = 'Y'
	</select>
	
	<select id="getHSearchTotalCount" resultType="_int">
		SELECT COUNT(*)
	      FROM HOSPITAL_TBL 
	     WHERE H_STATUS = '정상'
	       AND H_X IS NOT NULL
	       AND ( H_NAME LIKE '%' || #{ hSearchKeyword } || '%' 
	        OR H_ADDR LIKE '%' || #{ hSearchKeyword } || '%' 
	        OR H_ROAD_ADDR LIKE '%' || #{ hSearchKeyword } || '%' )
	</select>
	
	<select id="selectHReviewSearch" resultType="HReview">
		SELECT *
		  FROM H_REVIEW_TBL
		 WHERE H_NO = #{ hNo } 
		   AND H_R_STATUS = 'Y'
		   AND H_R_CONTENT LIKE '%' || #{ hRSearchKeyword } || '%'
	     ORDER BY H_R_NO DESC
	</select>
	
	<select id="getHReviewSearchTotalCount" resultType="_int">
		SELECT COUNT(*)
		  FROM H_REVIEW_TBL
		 WHERE H_NO = #{ hNo }
		   AND H_R_STATUS = 'Y'
		   AND H_R_CONTENT LIKE '%' || #{ hRSearchKeyword } || '%'
	</select>
</mapper>