<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageMapper">
	
	<insert id="insertImage">
		INSERT INTO IMAGE_TBL 
		VALUES(I_SEQ_NO.NEXTVAL, #{imageUrl}, #{imageName})
	</insert>
	
	<select id="selectImageByNo" resultType="Image">
		SELECT * FROM IMAGE_TBL 
		WHERE IMAGE_NO = #{imageNo}
	</select>
</mapper>