<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SHistoryMapper">
	
	<insert id="insertHistory">
		INSERT INTO S_HISTORY_TBL VALUES(S_SEQ_NO.NEXTVAL, #{sNo}, #{uId}, #{sHName}, #{sHAmount}, DEFAULT, #{sHPaytype}, #{sHType}) 
	</insert>
	
	<select id="getHistoryListCount" resultType="_int">
		SELECT COUNT(*) FROM S_HISTORY_TBL WHERE S_NO = #{sNo}
	</select>
	<select id="selectSHistoryList" resultType="SupportHistory">
		SELECT * FROM S_HISTORY_TBL WHERE S_NO = #{sNo} ORDER BY S_H_NO DESC
	</select>
	<select id="getCountSHistory" resultType="_int">
		SELECT COUNT(*) FROM S_HISTORY_TBL WHERE U_ID = #{uId} AND S_NO = #{sNo}
	</select>
	
	<select id="selectTodaySupport" resultType="SupportHistory">
		SELECT 
		    COUNT(*) AS TODAY_COUNT,
		    SUM(S_H_AMOUNT) AS TODAY_AMOUNT
		FROM 
		    S_HISTORY_TBL
		WHERE 
		    TRUNC(S_H_PAYDATE) = TRUNC(SYSDATE)
	</select>
	

</mapper>