<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupportMapper">

	
	<insert id="insertSupport">
		INSERT INTO SUPPORT_TBL 
		VALUES(S_SEQ_NO.NEXTVAL, #{sCategory}, #{sTitle}, #{sContent}, #{sGroup}, DEFAULT, DEFAULT, 
		#{sStart}, #{sEnd}, #{sTargetAmount}, DEFAULT, DEFAULT, DEFAULT, #{sImageUrl})
	</insert>
	
	<update id="updateSupport">
		UPDATE SUPPORT_TBL 
		SET S_CATEGORY = #{sCategory}, S_TITLE = #{sTitle}, S_CONTENT = #{sContent}, S_GROUP = #{sGroup}, 
		S_UPDATE = DEFAULT, S_START = #{sStart}, S_END = #{sEnd}, S_TARGET_AMOUNT = #{sTargetAmount}, S_IMAGE_URL = #{sImageUrl} 
		WHERE S_NO = #{sNo} 
	</update>
	
	<update id="endSupport">
		UPDATE SUPPORT_TBL 
		SET S_UPDATE = DEFAULT, S_STATUS = 'E' WHERE S_NO = #{sNo} 
	</update>
	
	<update id="deleteSupport">
		UPDATE SUPPORT_TBL 
		SET S_UPDATE = DEFAULT, S_STATUS = 'N' WHERE S_NO = #{sNo}
	</update>
	
	
	<select id="selectSupportByNo" resultType="Support">
		SELECT * FROM SUPPORT_TBL 
		WHERE S_NO = #{sNo}
	</select>
	

	<select id="getSearchCount" resultType="_int">
		SELECT COUNT(*) FROM SUPPORT_TBL 
		<if test="category != 'all'">
		WHERE S_STATUS = 'Y' AND S_CATEGORY = #{category}
		</if>
		<if test="category == 'all'">
		WHERE S_STATUS = 'Y' 
		</if>
	</select>
	
	<select id="selectSupportList" resultType="Support">
		SELECT * FROM SUPPORT_TBL 
		<if test="category != 'all'">
		WHERE S_STATUS = 'Y' AND S_CATEGORY = #{category} 
			<if test="sort == 'latest'">
				ORDER BY S_NO DESC
			</if>
			<if test="sort == 'mostFunded'">
				ORDER BY S_FUND_AMOUNT DESC
			</if>
			<if test="sort == 'leastFunded'">
				ORDER BY S_FUND_AMOUNT
			</if>
			<if test="sort == 'highestFunded'">
				ORDER BY (S_FUND_AMOUNT/S_TARGET_AMOUNT) DESC
			</if>
			<if test="sort == 'endingSoonest'">
				ORDER BY (S_END - SYSDATE)
			</if>
		</if>
		<if test="category == 'all'">
		WHERE S_STATUS = 'Y' 
			<if test="sort == 'latest'">
				ORDER BY S_NO DESC
			</if>
			<if test="sort == 'mostFunded'">
				ORDER BY S_FUND_AMOUNT DESC
			</if>
			<if test="sort == 'leastFunded'">
				ORDER BY S_FUND_AMOUNT
			</if>
			<if test="sort == 'highestFunded'">
				ORDER BY (S_FUND_AMOUNT/S_TARGET_AMOUNT) DESC
			</if>
			<if test="sort == 'endingSoonest'">
				ORDER BY (S_END - SYSDATE)
			</if>
		</if>
	</select>
	
	<update id="updateSupportFund">
		UPDATE SUPPORT_TBL 
		SET S_FUND_AMOUNT = S_FUND_AMOUNT + #{sFundAmount}, S_COUNT = S_COUNT + 1
		WHERE S_NO = #{sNo} 
	</update>
	
	
	
	
</mapper>