body {
    background-color: #fafafa;
}

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

    h1 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1;
        padding-top: 120px;
    }

    #line {
        width: 30%;
        height: 1.5px;
        background-color: lightgray;
        margin: 40px auto 60px auto;
    }

    #hospital-info {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -30px auto 0 auto;
    }

        #hospital-info > div {
            display: flex;
            align-items: flex-end;
        }

        #hospital-info > div:first-child {
            min-width: 40%;
        }

        #hospital-info > div:last-child {
            min-width: 60%;
        }

        #map-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            #map-div > div:first-child {
                width: 65%;
                text-align: right;
            }

            #map-div > div:nth-child(2) {
                width: 65%; 
                height: 380px; 
                background-color: lightgray;
                margin: 10px;
            } 

    #hospital-review-section {
        width: 55%;
        margin: 0 auto;
    }

        #review-title {
            margin: 80px auto 40px auto;
        }
        
            #review-title-text {
                font-size: 1.5em;
                font-weight: bold;
            }

            #review-create-div > form {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #review-create-content {
                    resize: none;
                    width: 90%;
                    height: 80px;
                    border: 2px solid lightgray;
                    border-radius: 10px;
                    padding: 15px 20px;
                    font-size: 1em;
                }

                #review-create-btn {
                    width: 10%;
                    height: 80px;
                    font-size: 1em;
                    color: white;
                    background-color: #FFD370;
                    border: 2px solid #FFD370;
                    border-radius: 10px;
                    margin-left: 10px;
                    cursor: pointer;
                }

        #review-list-div {
            margin-top: 50px;
            margin-bottom: 150px;
        }
            
            td {
                vertical-align: top;
                padding: 20px 10px;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }

            tr > td:nth-child(3) {
                text-align: right;
            }

                .user-info-div {
                    text-align: left;
                    display: flex;
                    align-items: flex-end;
                    margin: 3px 10px 8px 10px;
                }

                    .user-nickname {
                        font-weight: bold;
                        margin-right: 10px;
                    }

                    .review-create-date {
                        color: lightgray;
                        font-size: 0.9em;
                    }

                .review-content {
                    text-align: left;
                    margin: auto 10px;
                }

                .review-modify-btn, .review-delete-btn {
                    color: lightgray;
                    font-size: 0.9em;
                    text-decoration: none;
                    margin-right: 5px;
                }

                .review-modify-btn:hover, .review-delete-btn:hover {
                    color: #FFD370;
                }
        
        #page-navigation {
            margin-top: 50px;
        }

        /* 수정 모달창 */
        .modal {
            top: 30%;
        }

            .modal-content {
                border-radius: 25px;
            }
        
                .modal-header {
                    border-bottom: none;
                }

                    .modal-header .btn-close {
                        padding: 0;
                        margin: 0.5rem 0.5rem -0.5rem auto;
                    }

                .modal-body {
                    padding: 0 35px;
                }

                    .modify-user-info-div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                    }

                    .review-modify-content {
                        resize: none;
                        width: 100%;
                        height: 80px;
                        border: 2px solid lightgray;
                        border-radius: 10px;
                        padding: 15px 20px;
                        font-size: 1em;
                    }
                    
                .modal-footer {
                    border-top: none;
                    padding: 10px 35px 20px 35px;
                }

                    .modal-modify-btn {
                        width: 18%;
                        height: 35px;
                        margin: 0;
                        background-color: #FFD370;
                        color: white;
                        border-radius: 8px;
                    }