@charset "UTF-8";
body {
	height: 100%;
	margin: 0;
	padding: 0;
}


a {
    text-decoration: none;
    color: #505D68;
}

li {
    list-style: none;
}

ul {
	padding-inline-start: 0px;
}

#main {
    background-color: #fafafa;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 90px 0px;
}

#wrap {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    width:1000px;
    height: 100%;
    margin: 50px 0px 50px 0px;
    display: flex;
    text-align: center;
}

.left-section {
    width: 20%;
}
    
    .menu {
        border: 2px solid #ccc;
        border-radius: 20px;
        margin: 20px 20px 0px 20px;
    }
    .sub-title-name {
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
    }
    .menu .sub-menu > li {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 20px 0px;
    }

.right-section {
    width: 80%;
}
    .content {
        border: 2px solid #ccc;
        border-radius: 20px;
        margin: 20px;
    }
    #logo {
        margin: 30px 0px 25px 40px;
        width: 35px;
        height: 35px;
    }
    .right-title {
        display: flex;
    }
    .main-title-name {
    	font-weight: bold;
        font-size: 25px;
        margin: 30px 0px 25px 10px;
        text-align: left;
        
    }
    .line-hr {
        border: 0.1px solid #ccc;
    }
    .line {
        width: 350px;
        height: 0.5px;
        background-color: lightgray;
        margin: 20px auto 50px auto;
    }
    .content-title-name {
        font-size: 20px;
        font-weight: bold;
        margin-top: 50px;
    }
    .content-inner {
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    table {
        width: 700px;
        margin-bottom: 30px;
    }
    .table-border {
        border-bottom: 1px solid #dee2e6;
    }
    th {
        border-top: 1px solid #dee2e6;
        padding: 12px;
        font-size: 14.4px;
    }
	td {
		padding: 12px 5px 12px 5px;
		font-size: 14.4px;
/* 		vertical-align: center; */
	}
    .table-left {
        text-align: left;
        padding-left: 10px;
    }
    .table-right {
        text-align: right;
        padding-left: 10px;
    }

    .page {
        margin-bottom: 40px;
    }
    .page-navigation {
    	margin: 50px 0px 20px 0px;
		display: flex;
		justify-content: center;
	}

	
	
	
.status-wrap {
    margin : 30px 70px 20px 0px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.status {
    position: relative;
    width: 120px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: url(/resources/images/arrow.png) calc(100% - 7px) center no-repeat;
    background-size: 15px;
    cursor: pointer;
}
.status:after {
    content: '';
    display: block; 
    width: 2px;
    height: 100%; 
    position: absolute; 
        top: 0; 
        right: 35px;
    background: #ccc;
}
.status .status-label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
} 
.status .optionList {
    position: absolute; 
    z-index: 10;
    top: 23px;
    left: 0;
    width: 100%;
    background: #ffffff;
    list-style-type: none;
    padding: 0;
/*     margin-top: 3px; */
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    --transition: .3s ease-in;
}
.status.active .optionList {
    max-height: 500px;
    border: 1px solid #ccc;
}
.status .optionItem {
    padding: 5px 5px 5px;
    transition: .1s;
    font-size: 14px;
}

.status .optionItem:hover {
    background: #c1c1c1;
    color : #ffffff;
}

.status .optionItem:last-child {
    border-bottom: 0 none;
}

/*  스크롤 커스텀 */
.status .optionList::-webkit-scrollbar {width: 6px;}
.status .optionList::-webkit-scrollbar-track {background: transparent; }
.status .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.status .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

/* 페이징 */
.page-link {
  color: #000; 
  background-color: #fff;
  border: 1px solid #ffffff; 
}

.page-item.active .page-link {
 z-index: 1;
 color: #fff;
 font-weight:bold;
 background-color: #FFD370;
 border-color: #ffffff;
 
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #ececec; 
  border-color: #ffffff;
}


.tr:hover {
    background-color: rgba(255, 212, 112, 0.14);
	transition: background-color 0.5s ease;
	cursor: pointer;
  }




