main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

    h1 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1;
        padding-top: 120px;
    }

    #line {
        width: 30%;
        height: 1.5px;
        background-color: lightgray;
        margin: 40px auto 60px auto;
    }

        #search-div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 70px;
        }

            .search-input {
                width: 560px;
                padding: 15px 35px;
                font-size: 16px;
                border: 4px solid #CCCCCC; 
                border-radius: 30px; 
                outline: none;
                transition: border-color 0.3s;
            }

            .search-input:hover,
            .search-input:focus {
                border-color: #FFD370;
            }

        #map-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

            #map-div > div:first-child {
                width: 65%; 
                text-align: left;
                display: flex;
                align-items: center;
            } 

                [data-tooltip-text]:hover {
					position: relative;
				}
				
				[data-tooltip-text]:hover:after {
					background-color: rgba(0, 0, 0, 0.8);
					box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
					border-radius: 5px;
				
					color: #FFFFFF;
					font-size: 12px;
					font-family:'GmarketSansMedium';
					content: attr(data-tooltip-text);
				
					top: 120%;
					left: -60%;    
					padding: 7px 12px;
					position: absolute;
					width: auto;
				
					z-index: 9999;
				}
				                
            #map {
                width: 65%; 
                height: 380px; 
                background-color: lightgray;
                margin: 10px;
            } 

	    #hospital-list-section > div {
	        display: flex;
	        justify-content: center;
	        align-items: center;
	    }
	
	        table {
	            width: 55%;
	            text-align: left;
	            margin-top: 80px;
	            margin-bottom: 40px;
	        }
	            
	            th {
	                font-size: 1.5em;
	            }
	
	            tr:not(thead > tr:first-child, .search-list-none):hover {
	                background-color: rgba(255, 212, 112, 0.14);
	                transition: background-color 0.5s ease;
	                cursor: pointer;
	            }
	
	/*                 tr:not(thead > tr:first-child):hover td { */
	/*                     font-size: 1.1em; */
	/*                     transition: font-size 0.3s ease; */
	/*                 } */
	
	/*                 tr:not(thead > tr:first-child) td { */
	/*                     transition: font-size 0.3s ease; */
	/*                 } */
	
	            th, td {
	                padding: 20px 10px;
	                border-bottom: 1px solid #ddd;
	            }
	
	            td > div {
	                display: flex;
	                --align-items: flex-end;
	                --align-items: center;
	            }
	
	                .arrow-icon {
	                    display: flex;
	                }
	                
			#page-navigation {
				margin-bottom: 150px;
			}
			
				/* 페이징 */
				.page-link {
				  color: #000; 
				  background-color: #fafafa;
				  border: 1px solid #fafafa; 
				}
				
				.page-item.active .page-link {
				 z-index: 1;
				 color: #fff;
				 font-weight:bold;
				 background-color: #FFD370;
				 border-color: #fafafa;
				 
				}
				
				.page-link:focus, .page-link:hover {
				  color: #000;
				  background-color: #ececec; 
				  border-color: #fafafa;
				}