body {
    background-color: #fafafa;
    line-height: 1;
}

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

    h1 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1;
        padding-top: 120px;
    }