header {
    width: 100%;
    height: 60px;
    background: #ffd370;
    position: fixed;
    z-index: 1000;
}

body {
    background-color: #FAFAFA;
}

#main {
    width : 90%;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 타이틀 */
    #title {
        width : 100%;
    }
    #title h1 {
        text-align: center;
        font-weight: bold;
        font-size: 2.5em;
        padding-top: 120px;
    	line-height: 1;
    }

    #line {
        width: 30%;
        height: 1.5px;
        background-color: lightgray;
        margin: 40px auto 60px auto;
    }
/* 콘텐츠 */
    #content {
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 20px;
        width: 70%;
        height: 100%;
        margin-bottom : 50px;
        display: flex;
        text-align: center;
    }

        #content-left {
            width : 70%;
            height: 100%;
            --background-color: #ccc;
            border-right: 2px solid #ccc;
            padding: 50px;
        }
            .content-left-top {
                display: flex;
                padding : 30px;
            }       
            .s-content {
                width : 100%;
                height : 100%;
            }

            /* 댓글, 후원내역 */
            #support-action-section {
                margin-top: 30px;
                border-top: 1px solid #ccc;
            }
            #support-action-section .tab-list {
                display: flex;
                margin: 40px 0 30px;
            }
            .tab-item button {
                border :0px;
                padding: 10px;
                background-color: white;
                font-size: 1.5em;
                color: #000000;
            }   
            
            #reply-create-div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #reply-create-content {
                    resize: none;
                    width: 90%;
                    height: 80px;
                    border: 2px solid lightgray;
                    border-radius: 10px;
                    padding: 15px 20px;
                    font-size: 1em;
                }

                #reply-create-btn {
                    width: 10%;
                    height: 80px;
                    font-size: 1em;
                    color: white;
                    background-color: #FFD370;
                    border: 2px solid #FFD370;
                    border-radius: 10px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            #reply-list-div {
                margin-top: 50px;
            }
                .td {
                    vertical-align: top;
                    padding: 20px 10px;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                }

                tr > td:nth-child(3) {
                    text-align: right;
                }
                .user-info-div {
                    text-align: left;
                    display: flex;
                    align-items: flex-end;
                    margin: 3px 10px 8px 10px;
                }

                    .user-nickname {
                        font-weight: bold;
                        margin-right: 10px;
                    }

                    .reply-create-date {
                        color: lightgray;
                        font-size: 0.9em;
                    }

                    .support-history-date {
                        color: lightgray;
                        font-size: 0.9em;
                    }

                .reply-content {
                    text-align: left;
                    margin: auto 10px;
                }
                .support-amount {
                    text-align: left;
                    margin: auto 10px;
                }

                .reply-modify-btn, .reply-delete-btn {
                    color: lightgray;
                    font-size: 0.9em;
                    text-decoration: none;
                    margin-right: 5px;
                }

                .reply-modify-btn:hover, .reply-delete-btn:hover {
                    color: #FFD370;
                }
                
        #page-navigation {
            margin-top: 50px;
        }

        /* 수정 모달창 */
        .modal {
            top: 30%;
        }

            .modal-content {
                border-radius: 25px;
            }
        
                .modal-header {
                    border-bottom: none;
                }

                    .modal-header .btn-close {
                        padding: 0;
                        margin: 0.5rem 0.5rem -0.5rem auto;
                    }

                .modal-body {
                    padding: 0 35px;
                }

                    .modify-user-info-div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                    }

                    .reply-modify-content {
                        resize: none;
                        width: 100%;
                        height: 80px;
                        border: 2px solid lightgray;
                        border-radius: 10px;
                        padding: 15px 20px;
                        font-size: 1em;
                    }
                    
                .modal-footer {
                    border-top: none;
                    padding: 10px 35px 20px 35px;
                }

                    .modal-modify-btn {
                        width: 18%;
                        height: 35px;
                        margin: 0;
                        background-color: #FFD370;
                        color: white;
                        border-radius: 8px;
                    }


                #history-div {
                    background-color: #eeeded;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }









                
/* 후원 상태 */
#content-right {
    width :30%;
    height: 100%;
    --background-color: #ffd370;
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}    
    
.per {
    font-size: 24px;
    color: #ffd370;
}
.per strong {
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    color: #ffd370;
}
.graph-bar {
    width: 100%;
    height: 7px;
    margin-top: 3px;
    background: #ebebeb;
}
.graph-bar span {
    display: flex;
    height: 7px;
    background: #ffd370;
    vertical-align: top;
}   
.term-area {
    margin-top: 20px;

}
.term-area p {
    padding: 13px 0 11px;
    font-size: 15px;
    color: #a9a7a7;
}
.d-day {
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 1px 10px 0;
    margin-right: 5px;
    border-radius: 30px;
    background: #FDAAAA;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 21px;
    text-align: center;
}

.fund-amount, .fund-amount span {
    font-size : 1.3em;
    color: #757575;
}

.target-amount, .target-amount span{
    padding: 13px 0 11px;
    font-size: 15px;
    color: #ccc;
}

.num-area {
    margin-top: 30px;
}

.support-btn {
    border: 0px;
    border-radius: 10px;
    width: 95%;
    background-color: #FFD370;
    color: white;
    padding : 10px;
    margin-top: 30px;
}

.section-group p{
    margin: 30px;
    text-align: left;
    color:#555555;
    line-height: 25px;
}
.section-group strong {
    font-size: 1.2em;
    color: rgb(68, 68, 68);
}

#button {
    width: 60%;
    display: flex;
    justify-content: center;
}
.btn-update {
    border: 1px solid #FFD370;
    background-color: #FFD370;
    margin-right: 10px;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.admin-btn {
    position: absolute;
    right: 350px;
}
.btn-delete {
    border: 1px solid #FF7070;
    background-color: #FF7070;
    margin-right: 10px;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.btn-cancel {
    text-decoration: none;
    border: 3px solid #FFD370;
    background-color: #ffffff;
    color: #FFD370;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.h3 {
	font-size: 24px;
	font-weight: bold;
    text-align: left;
}