body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}
header {
    width: 100%;
    height: 60px;
    background: #ffd370;
    position: fixed;
    top: 0;
    z-index: 1000;
}

footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgb(24, 21, 21);
}

.main {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background: #FAFAFA;
}

.contanier {
    width: 65%;
    /* height: 110vh; */
    /* border : 1px solid black; */
    background: #FAFAFA;
}

/* ********** 타이틀 ********** */
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 130px;
}

h1 {
    font-size: 2.5em;
}

#line {
    width: 30%;
    height: 1.5px;
    background-color: lightgray;
    margin: 40px auto 60px auto;
}

/* ********** FAQ 항목 스타일 ********** */
.faq-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.faq-item {
    /* display: block;
    align-items: center; */
    margin: 7px 0;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ffd370;
    background-color: white;
    width: 800px;
}

.faq-item h3 {
    font-size: 1.1em;
    padding: 5px;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-title h3 {
    margin: 0;
}

.faq-content p {
    margin-top: 15px;
    word-wrap: break-word;
}

/* .faq-content {
    display: none;
} */

/* FAQ 항목이 초기에 숨겨져 있도록 설정 */
.faq-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s ease-in-out, opacity 0.9s ease-in-out; /* 지연 시간을 0.6초로 설정 */
}

.faq-item.open .faq-content {
    height: 70px; /* 열린 FAQ의 높이를 자동으로 조절 */
    opacity: 1;
}

.faq-item:hover {
    background-color: #ffd370; /* 원하는 색상으로 변경하세요 */
}

/* ********** 등록하기 링크 ********** */

.faq-register {
    display: flex;
    justify-content: end;
    width: 800px;
    margin: 0 auto;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ffd370;
    color: white;
    font-size: 1.1em;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

