body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA; 
}
header {
	line-height: 1.5;
    width: 100%;
    height: 60px;
    background: #ffd370;
    position: fixed;
    top: 0;
    z-index: 1000;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(24, 21, 21);
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 1100px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background: #FAFAFA;
}

.contanier {
    width: 60%;
/*     height: 100vh; */
/*     border : 1px solid black; */
/*     background: #FAFAFA; */
}

/* ********** 타이틀 ********** */
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    --padding-top: 120px;
}

.main-title h1 {
    font-size: 2.5em;
    font-weight: bold;
	line-height: 1;
	padding-top: 120px;
}

#line {
    width: 57%;
    height: 1.5px;
    background-color: lightgray;
    margin: 40px auto 60px auto;
}

/* ********** 제목 ********** */
#faq-borad {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    height: 75px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 1.8em;
    width: 15%;
    border-right: 1px solid #ccc;
}

#content {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 15px;
}

#content input{
    display: flex;
    width: 80%;
    height: 100%;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    border: none;
    background-color: #FAFAFA;
    font-size: 1.7em;
    background-color: white;
}

/* ********** 썸머노트 ********** */
#summernote {
    width: 100%;
}

/* ********** 버튼/링크 ********** */
a {
    text-decoration: none;
}

button, input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#btn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    /* border: 2px solid black; */
}

#btn a {
	text-decoration: none;
}

a:hover {
    color: #ffd370;
}

.btn-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-decoration: none;
    border: 3px solid #ffd370;
    color: #ffd370;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
} 

#modify-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border: 1px solid #ffd370;
    background-color: #ffd370;
    margin-right: 10px;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

/* 썸머노트 필요없는 드롭 삭제*/

.note-icon-caret {
	display: none;
}